<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-6">
        <app-progresso [progresso]="progresso"></app-progresso>
      </div>
      <div class="col-sm-6">
        <app-tentativas [tentativasRestantes]="tentativasRestantes"></app-tentativas>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h5>{{ instrucao }}</h5>
        <p>{{ fraseRodada.fraseEng }}</p>
        <div class="form-floating">
          <textarea
            class="form-control"
            (change)="getValue($event)"
            style="height: 100px"
            [value]="resposta"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 d-flex justify-content-end">
        <button (click)="checkAnswer()" type="button" class="btn btn-primary">
          Verificar
        </button>
      </div>
    </div>
  </div>
</div>
